/* 重置样式文件 */

/* 重置掉自带的padding、margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
  padding: 0px;
  margin: 0px;
}

/* 重置掉img元素的vertical-align，否则图片下面可能会有条线 */
img {
  vertical-align: top;
}

/* 重置掉自带的下划线 */
a {
  text-decoration: none;
}

/* 重置掉自带的列表样式 */
ul,
ol,
li {
  list-style: none;
}

/* 重置掉自带的表格样式 */
table {
  /* 边框合并：把中间部分单元格的相邻边框给合并掉，否则会有间距或者双份厚度的边框 */
  border-collapse: collapse;
}