/* 指定网页里CSS文件的编码方式 */
@charset "UTF-8";

.tab_bar {
  position: fixed;
  right: 0vw;
  bottom: 0vw;
  left: 0vw;

  // tabBar的高度safeArea + 固定50px，因此这里不需要vw
  height: calc(env(safe-area-inset-bottom) + 50px);
  border-top: .2667vw #DDDDDD solid;

  background-color: #FFFFFF;

  display: flex;

  .item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;

    img {
      // 固定48px，因此这里不需要vw
      width: 48px;
    }
  }
}