/* video/component/video-item.wxss */
@import "../../../app.wxss";

.video-item {
  height: 298rpx;

  .top {
    position: relative;

    height: 200rpx;

    .cover {
      width: 100%;
      height: 100%;
      border-radius: 16rpx;
    }

    .mask {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;

      padding-left: 8rpx;
      padding-right: 8rpx;

      color: white;

      background-color: rgba(0, 0, 0, 0.4);

      display: flex;
      justify-content: space-between;
      align-items: center;

      .play-count {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
  }
}