<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>home_page_main_content</title>
  <link rel="stylesheet" href="../css/common.css">
  <link rel="stylesheet" href="../css/main_item.css">
  <link rel="stylesheet" href="../css/reset.css">
</head>

<style>
  .main_item {
    margin-bottom: 28px;

    display: flex;
  }

  .content_center {
    width: 872px;
    margin-right: 33px;
  }

  .skin_center {
    width: 295px;
  }

  .match_center {
    width: 872px;
    margin-right: 33px;
  }

  .match_schedule {
    width: 295px;
  }
</style>

<body>
  <div class="main_wrapper">
    <div class="main_item">
      <div class="content_center">
        <div class="header">
          <div class="header__principal">
            <div class="header__principal__icon header__principal__icon__content"></div>
            <div class="header__principal__title">内容中心</div>
          </div>
          <a class="header__acceory" href="#">
            <div class="header__acceory__icon"></div>
            <div class="header__acceory__title">更多</div>
          </a>
        </div>
        <div class="segment_control">
          <div class="segment_control__item segment_control__item__evenly segment_control__item--active">精品栏目</div>
          <div class="segment_control__line"></div>
          <div class="segment_control__item segment_control__item__evenly">赛事精品</div>
          <div class="segment_control__line"></div>
          <div class="segment_control__item segment_control__item__evenly">英雄攻略</div>
        </div>
        <div class="keyword_list">
          <div class="keyword_list__item keyword_list__item--active">最新</div>
          <div class="keyword_list__item">峡谷大气层</div>
          <div class="keyword_list__item">马菠萝奇闻录</div>
          <div class="keyword_list__item">狄仁杰封神榜</div>
          <div class="keyword_list__item">游走基本法</div>
          <div class="keyword_list__item">野王修炼手册</div>
          <div class="keyword_list__item">法王的荣耀</div>
        </div>
        <div class="video_list">
          <a class="video_list__item" href="#">
            <img class="video_list__item__img" src="../img/video_img_content_center_01.jpeg" alt="">
            <div class="video_list__item__info">
              <div class="video_list__item__info__watch__icon"></div>
              <div class="video_list__item__info__watch__number">30.0万</div>
            </div>
            <div class="video_list__item__mask">
              <div class="video_list__item__mask__play"></div>
            </div>
            <div class="video_list__item__title twoline_hidden_ellipsis">新英雄【元流之子】法师玩法介绍——万物为流，汇流为一</div>
          </a>
          <a class="video_list__item" href="#">
            <img class="video_list__item__img" src="../img/video_img_content_center_01.jpeg" alt="">
            <div class="video_list__item__info">
              <div class="video_list__item__info__watch__icon"></div>
              <div class="video_list__item__info__watch__number">86.7万</div>
            </div>
            <div class="video_list__item__mask">
              <div class="video_list__item__mask__play"></div>
            </div>
            <div class="video_list__item__title twoline_hidden_ellipsis">新英雄【元流之子】塔克玩法介绍——万物为流，汇流为一</div>
          </a>
          <a class="video_list__item" href="#">
            <img class="video_list__item__img" src="../img/video_img_content_center_01.jpeg" alt="">
            <div class="video_list__item__info">
              <div class="video_list__item__info__watch__icon"></div>
              <div class="video_list__item__info__watch__number">241.3万</div>
            </div>
            <div class="video_list__item__mask">
              <div class="video_list__item__mask__play"></div>
            </div>
            <div class="video_list__item__title twoline_hidden_ellipsis">英雄玩法介绍——元流之子-坦克实战技巧</div>
          </a>
          <a class="video_list__item" href="#">
            <img class="video_list__item__img" src="../img/video_img_content_center_01.jpeg" alt="">
            <div class="video_list__item__info">
              <div class="video_list__item__info__watch__icon"></div>
              <div class="video_list__item__info__watch__number">51.3万</div>
            </div>
            <div class="video_list__item__mask">
              <div class="video_list__item__mask__play"></div>
            </div>
            <div class="video_list__item__title twoline_hidden_ellipsis">英雄玩法介绍——元流之子-法师实战技巧</div>
          </a>
          <a class="video_list__item" href="#">
            <img class="video_list__item__img" src="../img/video_img_content_center_02.jpeg" alt="">
            <div class="video_list__item__info">
              <div class="video_list__item__info__watch__icon"></div>
              <div class="video_list__item__info__watch__number">215.8万</div>
            </div>
            <div class="video_list__item__mask">
              <div class="video_list__item__mask__play"></div>
            </div>
            <div class="video_list__item__title twoline_hidden_ellipsis">英雄玩法介绍——大司命：巡游生死，执戈诛恶</div>
          </a>
          <a class="video_list__item" href="#">
            <img class="video_list__item__img" src="../img/video_img_content_center_03.jpeg" alt="">
            <div class="video_list__item__info">
              <div class="video_list__item__info__watch__icon"></div>
              <div class="video_list__item__info__watch__number">9259</div>
            </div>
            <div class="video_list__item__mask">
              <div class="video_list__item__mask__play"></div>
            </div>
            <div class="video_list__item__title twoline_hidden_ellipsis">峡谷大气层 | 你知道赵云出了血魔之怒意味着什么吗？</div>
          </a>
          <a class="video_list__item" href="#">
            <img class="video_list__item__img" src="../img/video_img_content_center_04.jpeg" alt="">
            <div class="video_list__item__info">
              <div class="video_list__item__info__watch__icon"></div>
              <div class="video_list__item__info__watch__number">1.1万</div>
            </div>
            <div class="video_list__item__mask">
              <div class="video_list__item__mask__play"></div>
            </div>
            <div class="video_list__item__title twoline_hidden_ellipsis">峡谷大气层 | 龙年玩敖隐，给峡谷加一点正龙量！</div>
          </a>
          <a class="video_list__item" href="#">
            <img class="video_list__item__img" src="../img/video_img_content_center_05.jpeg" alt="">
            <div class="video_list__item__info">
              <div class="video_list__item__info__watch__icon"></div>
              <div class="video_list__item__info__watch__number">181.0万</div>
            </div>
            <div class="video_list__item__mask">
              <div class="video_list__item__mask__play"></div>
            </div>
            <div class="video_list__item__title twoline_hidden_ellipsis">英雄玩法介绍——敖隐：化身白龙！火雨风雪，尽揽剑中</div>
          </a>
        </div>
      </div>
      <div class="skin_center">
        <div class="header">
          <div class="header__principal">
            <div class="header__principal__icon header__principal__icon__skin"></div>
            <div class="header__principal__title">英雄/皮肤</div>
          </div>
          <a class="header__acceory" href="#">
            <div class="header__acceory__icon"></div>
            <div class="header__acceory__title">更多</div>
          </a>
        </div>
        <div class="segment_control">
          <div class="segment_control__item segment_control__item__evenly segment_control__item--active">最新英雄</div>
          <div class="segment_control__line"></div>
          <div class="segment_control__item segment_control__item__evenly">最新皮肤</div>
          <div class="segment_control__line"></div>
          <div class="segment_control__item segment_control__item__evenly">周免英雄</div>
        </div>
        <div class="new_hero">
          <a class="new_hero__img" href="#">
            <img src="../img/new_hero.jpeg" alt="">
          </a>
          <div class="new_hero__info">
            <div class="new_hero__info__title">新英雄：元流之子·塔克</div>
            <div class="new_hero__info__date">上线时间：2024.06.07</div>
          </div>
          <div class="hero_imgs">
            <a class="hero_imgs__item">
              <img src="../img/hero_imgs_01.webp" alt="">
              <div class="hero_imgs__item__mask">元 流 之 子 · 法 师</div>
            </a>
            <a class="hero_imgs__item">
              <img src="../img/hero_imgs_02.webp" alt="">
              <div class="hero_imgs__item__mask">大 司 命</div>
            </a>
            <a class="hero_imgs__item">
              <img src="../img/hero_imgs_03.webp" alt="">
              <div class="hero_imgs__item__mask">敖 隐</div>
            </a>
            <a class="hero_imgs__item">
              <img src="../img/hero_imgs_04.webp" alt="">
              <div class="hero_imgs__item__mask">海 诺</div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="main_item">
      <div class="match_center">
        <div class="header">
          <div class="header__principal">
            <div class="header__principal__icon header__principal__icon__match"></div>
            <div class="header__principal__title">赛事中心</div>
          </div>
          <a class="header__acceory" href="#">
            <div class="header__acceory__icon"></div>
            <div class="header__acceory__title">更多</div>
          </a>
        </div>
        <div class="segment_control">
          <div class="segment_control__item segment_control__item__wrap segment_control__item--active">KPL</div>
          <div class="segment_control__line"></div>
          <div class="segment_control__item segment_control__item__wrap">世界冠军杯</div>
          <div class="segment_control__line"></div>
          <div class="segment_control__item segment_control__item__wrap">挑战者杯</div>
          <div class="segment_control__line"></div>
          <div class="segment_control__item segment_control__item__wrap">K甲联赛</div>
          <div class="segment_control__line"></div>
          <div class="segment_control__item segment_control__item__wrap">全国大赛</div>
          <div class="segment_control__line"></div>
          <div class="segment_control__item segment_control__item__wrap">高校联赛</div>
        </div>
        <div class="video_list">
          <a class="video_list__item" href="#">
            <img class="video_list__item__img" src="../img/video_img_match_center_01.jpeg" alt="">
            <div class="video_list__item__info">
              <div class="video_list__item__info__watch__icon"></div>
              <div class="video_list__item__info__watch__number">5599</div>
            </div>
            <div class="video_list__item__mask">
              <div class="video_list__item__mask__play"></div>
            </div>
            <div class="video_list__item__title twoline_hidden_ellipsis">2024KPL夏季赛开赛主题曲《亮闪闪》</div>
          </a>
          <a class="video_list__item" href="#">
            <img class="video_list__item__img" src="../img/video_img_match_center_02.jpeg" alt="">
            <div class="video_list__item__info">
              <div class="video_list__item__info__watch__icon"></div>
              <div class="video_list__item__info__watch__number">1679</div>
            </div>
            <div class="video_list__item__mask">
              <div class="video_list__item__mask__play"></div>
            </div>
            <div class="video_list__item__title twoline_hidden_ellipsis">【荣耀大话王XIII】广州TTG表演猿声齐鸣 一诺展示乒乓球</div>
          </a>
          <a class="video_list__item" href="#">
            <img class="video_list__item__img" src="../img/video_img_match_center_03.jpeg" alt="">
            <div class="video_list__item__info">
              <div class="video_list__item__info__watch__icon"></div>
              <div class="video_list__item__info__watch__number">657</div>
            </div>
            <div class="video_list__item__mask">
              <div class="video_list__item__mask__play"></div>
            </div>
            <div class="video_list__item__title twoline_hidden_ellipsis">【荣耀大话王XIII】花海绝意展现“静”与“动的极致</div>
          </a>
          <a class="video_list__item" href="#">
            <img class="video_list__item__img" src="../img/video_img_match_center_04.jpeg" alt="">
            <div class="video_list__item__info">
              <div class="video_list__item__info__watch__icon"></div>
              <div class="video_list__item__info__watch__number">1000</div>
            </div>
            <div class="video_list__item__mask">
              <div class="video_list__item__mask__play"></div>
            </div>
            <div class="video_list__item__title twoline_hidden_ellipsis">荣耀大话王XIII】无畏看透NPC本质是真正的主角</div>
          </a>
          <a class="video_list__item" href="#">
            <img class="video_list__item__img" src="../img/video_img_match_center_05.jpeg" alt="">
            <div class="video_list__item__info">
              <div class="video_list__item__info__watch__icon"></div>
              <div class="video_list__item__info__watch__number">1132</div>
            </div>
            <div class="video_list__item__mask">
              <div class="video_list__item__mask__play"></div>
            </div>
            <div class="video_list__item__title twoline_hidden_ellipsis">【荣耀大话王XIII】众选手为王者荣耀英雄提出宝贵建议</div>
          </a>
          <a class="video_list__item" href="#">
            <img class="video_list__item__img" src="../img/video_img_match_center_06.jpeg" alt="">
            <div class="video_list__item__info">
              <div class="video_list__item__info__watch__icon"></div>
              <div class="video_list__item__info__watch__number">889</div>
            </div>
            <div class="video_list__item__mask">
              <div class="video_list__item__mask__play"></div>
            </div>
            <div class="video_list__item__title twoline_hidden_ellipsis">【荣耀大话王XIII】九尾回答单采问题素质上线</div>
          </a>
          <a class="video_list__item" href="#">
            <img class="video_list__item__img" src="../img/video_img_match_center_07.jpeg" alt="">
            <div class="video_list__item__info">
              <div class="video_list__item__info__watch__icon"></div>
              <div class="video_list__item__info__watch__number">584</div>
            </div>
            <div class="video_list__item__mask">
              <div class="video_list__item__mask__play"></div>
            </div>
            <div class="video_list__item__title twoline_hidden_ellipsis">【荣耀大话王XIII】小胖直言东北司机太能唠“顶不住”</div>
          </a>
          <a class="video_list__item" href="#">
            <img class="video_list__item__img" src="../img/video_img_match_center_08.jpeg" alt="">
            <div class="video_list__item__info">
              <div class="video_list__item__info__watch__icon"></div>
              <div class="video_list__item__info__watch__number">769</div>
            </div>
            <div class="video_list__item__mask">
              <div class="video_list__item__mask__play"></div>
            </div>
            <div class="video_list__item__title twoline_hidden_ellipsis">【荣耀大话王XIII】Fly又遇狂热粉丝 归期妖刀一笙玩游戏</div>
          </a>
        </div>
      </div>
      <div class="match_schedule">
        <div class="header">
          <div class="header__principal">
            <div class="header__principal__icon header__principal__icon__schedule"></div>
            <div class="header__principal__title">PKL赛程</div>
          </div>
          <a class="header__acceory" href="#">
            <div class="header__acceory__icon"></div>
            <div class="header__acceory__title">更多</div>
          </a>
        </div>
        <table class="match_schedule__list">
          <tr class="match_schedule__list__header">
            <td>时间</td>
            <td>战队</td>
            <td></td>
            <td>战队</td>
          </tr>
          <tr class="match_schedule__list__item">
            <td class="match_schedule__list__item__date">8-31 19:00</td>
            <td class="match_schedule__list__item__team">
              <img class="match_schedule__list__item__team__img" src="../img/foshan.png" alt="">
              <div class="match_schedule__list__item__team__name">佛山DRG</div>
            </td>
            <td class="match_schedule__list__item__vs">VS</td>
            <td>
              <img class="match_schedule__list__item__team__img" src="../img/suzhou.png" alt="">
              <div class="match_schedule__list__item__team__name">苏州KSG</div>
            </td>
          </tr>
          <tr class="match_schedule__list__item">
            <td class="match_schedule__list__item__date">9-1 19:00</td>
            <td class="match_schedule__list__item__team">
              <img class="match_schedule__list__item__team__img" src="../img/chongqing.png" alt="">
              <div class="match_schedule__list__item__team__name">重庆狼队</div>
            </td>
            <td class="match_schedule__list__item__vs">VS</td>
            <td>
              <img class="match_schedule__list__item__team__img" src="../img/guangzhou.png" alt="">
              <div class="match_schedule__list__item__team__name">广州TTG</div>
            </td>
          </tr>
          <tr class="match_schedule__list__item">
            <td class="match_schedule__list__item__date">9-2 19:00</td>
            <td class="match_schedule__list__item__team">
              <img class="match_schedule__list__item__team__img" src="../img/beijing.png" alt="">
              <div class="match_schedule__list__item__team__name">北京WB</div>
            </td>
            <td class="match_schedule__list__item__vs">VS</td>
            <td>
              <img class="match_schedule__list__item__team__img" src="../img/suzhou.png" alt="">
              <div class="match_schedule__list__item__team__name">苏州KSG</div>
            </td>
          </tr>
        </table>
        <div class="match_my_time">
          <a href="#">
            <img src="../img/my_time.webp" alt="">
          </a>
        </div>
      </div>
    </div>
  </div>
</body>

</html>