/* 指定网页里CSS文件的编码方式 */
@charset "UTF-8";

.tab_bar {
  position: fixed;
  right: 0px;
  bottom: 0px;
  left: 0px;

  // tabBar的高度safeArea + 固定50px，因此这里不需要vw
  height: calc(env(safe-area-inset-bottom) + 50px);
  // 顶部的线条也不需要vw
  border-top: 1px #DDDDDD solid;

  background-color: #FFFFFF;

  display: flex;

  .item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;

    img {
      width: 48px;
    }
  }
}