.footer {
  height: 362px;

  background: url("../../img/footer_bg.webp") no-repeat center 0;

  display: flex;
  justify-content: center;
}

.footer__content {
  width: 1200px;
  padding-top: 80px;

  font: 12px / 20px "微软雅黑", "宋体";
  color: #666666;

  display: flex;
  flex-direction: column;
}

.footer__content__logos {
  height: 66px;
  padding-bottom: 10px;
  border-bottom: 2px #d4d4d4 solid;
  margin-bottom: 12px;

  display: flex;
}

.footer__content__logos__tencent {
  width: 285px;
  height: 64px;
  margin: 0;

  background: url(//game.gtimg.cn/images/yxzj/web201605/main/spr.png) no-repeat;
}

.footer__content__logos__timi {
  width: 70px;
  height: 64px;
  margin: 0;

  background: url(//game.gtimg.cn/images/yxzj/web201605/main/spr.png) no-repeat -285px 0;
}

.footer__content__texts {
  display: flex;
  justify-content: space-between;
}

.footer__content__texts__warning {
  width: 508px;
}

.footer__content__texts__copyrights {
  width: 650px;
}